# Exclude Test
test/

# Exclude Sources
build/sources/

# Exclude NOTE.md
NOTE.md

# Exclude Applications 
applications/

# Exclude ssl
ssl/

# Exclude data
data/

# Exclude pid
build/leo.pid

# Exclude 
build/.mysql.passwd