# nginx binary startup for Leoparx servers
# To reload systemd daemon after changes to this file:
# systemctl --system daemon-reload

[Unit]
Description=The nginx HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/leoparx/nginx/var/run/nginx.pid
ExecStartPre=/leoparx/nginx/sbin/nginx -t -c /leoparx/nginx/conf/nginx.conf
ExecStart=/leoparx/nginx/sbin/nginx -c /leoparx/nginx/conf/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
LimitMEMLOCK=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
